	<div class="container text-center" ng-controller="ArticleCtrl">

		<div class="page-header">
			<h1> Add a News ! </h1>
		</div>

		<div class="container">
			<form novalidate name="addNewsForm" ng-submit="submit()">	

				<!-- First & Last Names -->
				<div class="row">
					<div class="col-md-6">

						<div class="col-md-8 col-md-offset-2">
							<div class="form-group">
								<label class="control-label sr-only" for="Title"> Title </label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-text-width"></span></span>
									<input type="text" class="form-control" ng-model="inputs.title" name="title" id="title" placeholder="Title..." required>
								</div><!-- class input-group -->
							</div><!-- class form-group -->
						</div><!-- class col-md-8 col-md-offset-2 -->

						<div class="col-md-8 col-md-offset-2">
							<div class="form-group">
								<label class="control-label sr-only" for="Categories"> Categories </label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
									<select class="form-control" ng-model="inputs.categories" name="categories" id="categories" required>
										<option value="1"> Politics </option>
										<option value="2"> Finance </option>
										<option value="3"> Sports </option>
										<option value="4"> International </option>
									</select>
								</div><!-- class input-group -->
							</div><!-- class form-group -->
						</div><!-- class col-md-8 col-md-offset-2 -->

						<div class="col-md-8 col-md-offset-2">
							<div ng-file-drop class="drop-box" ng-file-select ng-model="files" allow-dir="true" accept="image/*,application/pdf">
								<p class="dropzone lead" drag-over-class="dragover" ng-hide="imgIsEnable"> Drop or click ! <span class="glyphicon glyphicon-cloud-download"></span></p>
								<img class="dropImg" ng-show="imgIsEnable" ng-src="{{fileName}}"/>
								<h6 class="text-info" ng-show="imgIsEnable"><em>* Click on your picture to Edit it! </em></h6>
							</div>
						</div><!-- class col-md-8 col-md-offset-2 -->

						<div class="col-md-8 col-md-offset-2">
							<div class="well authorNames">
								<h4 class="media-heading"> Written by : </h4>
								<p class="lead"> {{currentUser.firstname+' '+currentUser.lastname}}</p>
							</div>
						</div><!-- class col-md-8 col-md-offset-2 -->

					</div><!-- class col-md-6 -->

					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label sr-only" for="Content"> Content </label>
							<textarea class="form-control" id="contentArticleArea" ng-model="inputs.content" name="content" rows="17" cols="10" placeholder="Content..." required></textarea>
						</div><!-- class form-group -->
					</div><!-- class col-md-6 -->

				</div><!-- class row -->

				<!-- Submit -->
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<button class="btn btn-primary btn-md" type="submit"> Post It ! </button>
					</div><!-- class col-md-6 -->
				</div><!-- class row -->

			</form><!-- named signUpForm -->
		</div><!-- class container -->

</div><!-- container text-center -->