<div class="container" ng-init="display()" ng-controller="NewsCtrl as news">
	
	<!-- MOBILE VERSION -->
	<ul class="nav nav-pills visible-xs" role="navigation">
		
		<li role="search">
			<button class="btn btn-default" ng-hide="show" ng-click="searchFunction()" type="button"><span ng-hide="show" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			<div ng-show="show" class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="searchFunction()" type="button">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button><!-- class btn btn-default -->
				</span><!-- class input-group-btn -->
				<input type="search" ng-show="show" ng-model="search.title" class="form-control searchInput" placeholder="Looking for a news ?">
			</div><!-- class input-group -->
		</li><!-- search -->

		<li role="presentation" ng-hide="show" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Categories <span class="caret"></span></a>
			<ul class="nav nav-pills nav-stacked dropdown-menu" role="menu">
				<li role="presentation" ng-class="{active: categorie === '0'}"><a class="cat" href="#/client/0"> All </a></li>
				<li role="presentation" ng-class="{active: categorie === '1'}"><a class="cat" href="#/client/1"> Politics </a></li>
				<li role="presentation" ng-class="{active: categorie === '2'}"><a class="cat" href="#/client/2"> Finance </a></li>
				<li role="presentation" ng-class="{active: categorie === '3'}"><a class="cat" href="#/client/3"> Sports </a></li>
				<li role="presentation" ng-class="{active: categorie === '4'}"><a class="cat" href="#/client/4"> International </a></li>
			</ul><!-- clas nav nav-pills nav-stacked dropdown-menu -->
		</li><!-- class dropdown -->

	</ul><!-- class nav nav-pills visible-xs -->

	<!-- LARGE SCREENS VERSION -->
	<div class="row">

		<div class="col-md-3 side-bar hidden-xs">

			<div class="col-md-12 srchContainer">
				<input type="search" ng-model="search.title" class="form-control" placeholder="Looking for a news ?">
			</div><!-- class col-md-12 srcInput -->

			<div class="col-md-12">
				<ul class="nav nav-pills well nav-stacked" role="navigation">
					<li role="presentation" ng-class="{active: categorie === '0'}"><a href="#/client/0"> All </a></li>
					<li role="presentation" ng-class="{active: categorie === '1'}"><a href="#/client/1"> Politics </a></li>
					<li role="presentation" ng-class="{active: categorie === '2'}"><a href="#/client/2"> Finance </a></li>
					<li role="presentation" ng-class="{active: categorie === '3'}"><a href="#/client/3"> Sports </a></li>
					<li role="presentation" ng-class="{active: categorie === '4'}"><a href="#/client/4"> International </a></li>
				</ul><!-- class nav nav-pills nav-stacked -->
			</div><!--class col-md-12 -->

		</div><!-- class col-md-3 side-bar -->

		<div class="col-xs-12 col-md-9 text-center newsFeedContainer">

			<div class="page-header" ng-switch="categorie">
				<h1 ng-switch-when="0"><span class="glyphicon glyphicon-book"></span> Latest News </h1>
				<h1 ng-switch-when="1"><span class="glyphicon glyphicon-book"></span> Politics </h1>
				<h1 ng-switch-when="2"><span class="glyphicon glyphicon-book"></span> Finance </h1>
				<h1 ng-switch-when="3"><span class="glyphicon glyphicon-book"></span> Sports </h1>
				<h1 ng-switch-when="4"><span class="glyphicon glyphicon-book"></span> International </h1>
			</div><!-- class page-header -->

			<!-- MOBILE VERSION -->	<!-- All News -->
			<div class="newsContent visible-xs" ng-hide="showArticle">		
				<p class="lead"> {{message}} </p>
				<div class="container"  id="{{article.id}}" ng-repeat="article in articles | filter:{title: search.title} track by article.id">
					<div class="thumbnail">
						<img class="img-responsive" ng-src="{{article.img_path}}" alt="">
						<div class="caption">
							<h3 class="lead text-left"> {{article.title}}  <small><em> — {{article.timestamp}} </em></small></h3>
							<p> {{article.content | preview}} </p>
							<p>
								<a ng-click="readMore(article.id)" class="btn btn-primary"> Read More </a>
								<button ng-show="currentUser.role === 'admin'" class="btn btn-danger" ng-click="delete(article.id)"> Delete </button>
							</p>
						</div>
					</div>
				</div><!-- class container -->

			</div><!-- class newsContent -->

			<!-- All News -->
			<div class="newsContent hidden-xs" ng-hide="showArticle">
				<p class="lead"> {{message}} </p>
				<div id="{{article.id}}" class="media well" ng-repeat="article in articles | filter:{title: search.title} track by article.id">
					<div class="pull-left">
						<img class="media-object" ng-src="{{article.img_path}}" alt="" width="300" height="200">
					</div><!-- class pull-left media-middle -->

					<div class="media-body">
						<button ng-show="currentUser.role === 'admin'" class="btn btn-danger pull-right" ng-click="delete(article.id)"> Delete </button>
						<h4 class="text-left lead media-heading"> {{article.title}} <small><em> — {{article.timestamp}} </em></small></h4>
						<h5 class="text-left"><small><em> by {{article.username}} </em></small></h5>
						<p class="lead contentMinView"> {{article.content | preview}} </p>
						<a ng-click="readMore(article.id)"  class="btn btn-primary"> Read More </a>
					</div><!-- class media-body -->

				</div><!-- class media well -->
			</div><!-- class newsContent -->

			<!-- One News -->
			<div  class="newsContent" ng-show="showArticle">

				<div class="container-fluid jumbotron">
					<button ng-show="currentUser.role === 'admin'" class="btn btn-danger pull-left" ng-click="delete(currentArticle.id)"> Delete </button>
					<button type="button" class="close pull-right" ng-click="closeArticle()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<img class="center-block img-circle" ng-src="{{currentArticle.img_path}}" alt="" width="150" height="150">
					<h2 class="lead"> {{currentArticle.title}} <small><em> — {{currentArticle.timestamp}} </em></small></h2>
					<p class="contentFullView text-justify"> {{currentArticle.content}} </p>
					<cite><em> by {{currentArticle.username}} </em></cite>
					<button type="button" class="close pull-right" ng-click="closeArticle()" aria-label="Close"><span aria-hidden="true">&times;</span>
				</div><!-- class container-fluid jumbotron -->

			</div><!-- class newsContent -->

		</div><!-- class col-md-9 text-center -->

	</div><!-- class row -->
</div><!-- class container -->