<form novalidate name="changePasswordForm" ng-submit="changePasswordForm.$valid && updatePassword(pwd)" ng-controller="UpdatePasswordCtrl">

	<div class="col-md-10">
		<div class="form-group has-feedback" ng-class="{'has-success': changePasswordForm.current.$valid, 'has-error': changePasswordForm.current.$invalid && changePasswordForm.current.$dirty}">
			<label class="control-label sr-only" for="Current"> Current </label>
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" class="form-control" ng-model="pwd.current" name="current" id="current" placeholder="Current..." ng-minlength="8" ng-maxlength="100" aria-describedby="currentStatus" required password-check>
			</div><!-- class input-group -->
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="changePasswordForm.current.$valid" aria-hidden="true"></span>
			<span id="currentStatus" class="sr-only">(success)</span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="changePasswordForm.current.$invalid && changePasswordForm.current.$dirty && !changePasswordForm.current.$pending.passwordcheck" aria-hidden="true"></span>
			<span id="currentStatus" class="sr-only">(warning)</span>
			<span class="form-control-feedback" ng-show="changePasswordForm.current.$pending.passwordcheck"><i class="fa fa-circle-o-notch fa-spin"></i></span>
			<span class="validationError" ng-show="changePasswordForm.current.$error.minlength">* The current has to be a least 8 characters</span>
			<span class="validationError" ng-show="changePasswordForm.current.$error.maxlength">* The current can't be more than 100 characters</span>
			<span class="validationError" ng-show="changePasswordForm.current.$error.required && changePasswordForm.current.$dirty">* The current is required</span>
			<span class="validationError" ng-show="changePasswordForm.current.$error.passwordcheck && changePasswordForm.current.$dirty">* The password is incorrect</span>
		</div><!-- class form-group -->
	</div><!--  class col-md-10 -->

	<div class="col-md-10">
		<div class="form-group has-feedback" ng-class="{'has-success': changePasswordForm.password.$valid, 'has-error': changePasswordForm.password.$invalid && changePasswordForm.password.$dirty}">
			<label class="control-label sr-only" for="Author"> New </label>
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" class="form-control" ng-model="pwd.password" name="password" id="password" placeholder="New..." ng-minlength="8" ng-maxlength="100" aria-describedby="passwordStatus" required>
			</div><!-- class input-group -->
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="changePasswordForm.password.$valid" aria-hidden="true"></span>
			<span id="passwordStatus" class="sr-only">(success)</span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!changePasswordForm.password.$valid && changePasswordForm.password.$dirty" aria-hidden="true"></span>
			<span id="passwordStatus" class="sr-only">(warning)</span>
			<span class="validationError" ng-show="changePasswordForm.password.$error.minlength">* The password has to be a least 8 characters</span>
			<span class="validationError" ng-show="changePasswordForm.password.$error.maxlength">* The password can't be more than 100 characters</span>
			<span class="validationError" ng-show="changePasswordForm.password.$error.required && changePasswordForm.password.$dirty">* The password is required</span>
		</div><!-- class form-group -->
	</div><!-- class col-md-10 -->


	<div class="col-md-10">
		<div class="form-group has-feedback" ng-class="{'has-success': changePasswordForm.confirm.$valid, 'has-error': changePasswordForm.confirm.$invalid && changePasswordForm.confirm.$dirty}">
			<label class="control-label sr-only" for="Author"> Confirm </label>
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
				<input type="password" class="form-control" ng-model="pwd.confirm" name="confirm" id="confirm" placeholder="Confirm..." ng-minlength="8" ng-maxlength="100" aria-describedby="confirmStatus" required password-match="{{pwd.password}}">
			</div><!-- class input-group -->
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="changePasswordForm.confirm.$valid" aria-hidden="true"></span>
			<span id="confirmStatus" class="sr-only">(success)</span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="changePasswordForm.confirm.$invalid && changePasswordForm.confirm.$dirty" aria-hidden="true"></span>
			<span id="confirmStatus" class="sr-only">(warning)</span>
			<span class="validationError" ng-show="changePasswordForm.confirm.$error.minlength">* The password has to be a least 8 characters</span>
			<span class="validationError" ng-show="changePasswordForm.confirm.$error.passwordmatch && changePasswordForm.confirm.$dirty">* The two passwords have to match</span>
			<span class="validationError" ng-show="changePasswordForm.confirm.$error.maxlength">* The password can't be more than 100 characters</span>
		</div><!-- class form-group -->
	</div><!--  class col-md-10 -->

	<!-- Submit -->
	<div class="col-md-10">
		<button class="btn btn-success btn-md" type="submit"> Change </button>
	</div><!-- class col-md-4 col-md-offset-7 -->

</form><!-- class changePasswordForm -->